extends layout

block content
  p
   a(href='/') Voltar à Home Page
  h1 Termos de Índice

  table
    tr 
      th Termo
      th ID Classe 
      th Título Classe

    each lis in dados
      tr 
        td= lis.termo 
        td
         a(href= '/classes/' + lis.idClasse)= lis.idClasse
        td
         a(href= '/classes/' + lis.idClasse)= lis.tituloClasse